---
import PageHeader from "@components/PageHeader.astro";
import "@styles/globals.css";
---

<!doctype html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
  </head>

  <body class="bg-slate-100 text-base lg:text-lg">
    <PageHeader />
  </body>
</html>
